@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h2 class="text-info">For any Queries</h2>
    <h4 class="text-info">E-mail:Findpropertysystem@gmail.com</h4>
    <h4 class="text-info">Mobile no:9658741254</h4>
    <h4 class="text-info">Tel no:040-245876124</h4>
    
</div>