@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-info">Here You Will Find The Best Property.</h1>
    <img src="Users\ritik\Desktop\OIP.jpg" width="1200px" height="510px">
</div>